!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Beats | Beats Solo3
    %link{href: "../css/style.css", rel: "stylesheet"}/
    %link{href: "./img/Beats_logo.png", rel: "shortcut icon", type: "image/x-icon"}/
  %body
    .first-page
      .first-page__section
        %img.logo{alt: "logo", src: "./img/logo.png"}/
        .main-text
          %h1.colorRed.size90 Beats Solo3
          %h1.size65 Wireless
          %p
            With up to 40 hours of battery life, Beats Solo3 Wireless is your perfect everyday headphone.
            With Fast Fuel, a 5-minute charge gives you 3 hours of playback.
          %a{href: "#"} $299.95 Buy
    .second-page
      .second-page__section
        .other-text
          %h1.size60 Product Information
          %h6 Overview
          %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores ut, quam quia cupiditate, voluptatum maiores cum culpa iure molestias, deleniti tempore atque sit reprehenderit vero non veniam illum aliquid earum quas temporibus. Doloremque vitae, dolorum veritatis voluptate deleniti repudiandae magni architecto delectus ab non beatae rerum perferendis explicabo harum a impedit laborum cupiditate.
          %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique sit recusandae at numquam quaerat harum.
          %a{href: ""} Read more
        %img.earphones{alt: "earphones", src: "./img/earphones.png"}/